.player {
    width: 100%;
    /*border: 1px solid black;*/
    margin: 30px auto;
}

.spectrogram {
    height: 0;
    width: 100%;
    position: relative;
    padding-top: 25%;
}

.crosshair {
    width: 50%;
    height:100%;
    top: 0;
    border-right: thin solid rgba(242, 0, 0, 0.7);
    overflow: hidden;
    position: absolute;
    z-index: 10;
}

.progressbar {
    padding-top: 20px;
    bottom: -3px;
    position: absolute;
    width: 100%;
    z-index: 20;
    transition: 0.25s;
}

.tracktime {
    display: none;
    margin-left: 2px;
    color: rgb(241, 241, 241);
    transition: 0.5s;
}

.progress {
    width: 0%;
    height: 2px;
    background-color: rgb(255, 0, 0);
    border-radius: 2px;
    transition: 0.25s;
}

.progressbar:hover {
    bottom: -6px;
}

.progressbar:hover .progress {
    height: 5px;
}

.progressbar:hover .tracktime {
    display: inline;
}

.audio-controls {
    width: 100%;
    height: 54px;
    display: flex;
    background-color: rgb(253, 253, 254);
    border: 1px solid rgb(205, 208, 211);
    margin-top: 20px;
    border-radius: 30px;
}

.play-img {
    margin: auto;
    height: 45%;
    width: 45%;
    display: block;
}

.pause-img {
    margin: auto;
    height: 45%;
    width: 45%;
    display: none
}

.playpause {
    margin:11px 11px 11px 11px;
    width: 32px;
    height: 32px;
    border-radius: 16px;
    background-color: rgba(0, 0, 0, 0.0);
    border-color: rgba(0, 0, 0, 1.0);
}

.playpause:disabled {
    background-color: rgba(10, 20, 30, 0.15);  /* darker background */
    border-color: rgba(200, 200, 200, 1.0);   /* greyed out border */
}

.playpause:hover {
    background-color: rgba(10, 20, 30, 0.05); /* darker background */
}

.playpause:focus {
    outline:none;
}

.response {
    padding:0px 20px 0px 0px;
    width: calc(100% - 86px);
    height: 100%;

    /*border: 1px solid red;*/
    /*border-bottom: 1px solid rgb(89, 89, 89);*/
}

.response-canvas {
    height: 100%;
    width: 100%;
}


.underlay {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000000;
}

.underlay img {
    object-fit: cover;
    object-position: 0% 0%;
}
