.player {
    width: 100%;
    /*border: 1px solid black;*/
    margin: 30px auto;
}

.spectrogram {
    height: 0;
    width: 100%;
    position: relative;
    padding-top: 35%;
}

.audio-controls {
    width: 100%;
    height: 54px;
    display: flex;
    /*border-top: 1px solid black;*/
    /*background-color: rgb(241, 243, 244);*/
    background-color: rgb(248, 248, 248);
    background-color: rgb(253, 253, 254);
    border: 1px solid rgb(205, 208, 211);
    margin-top: 20px;
    /*border: 1px solid black;*/
    border-radius: 30px;

}

.play-img {
    margin: auto;
    height: 45%;
    width: 45%;
    display: block;
}

.pause-img {
    margin: auto;
    height: 45%;
    width: 45%;
    display: none
}

.playpause {
    margin:11px 11px 11px 11px;
    width: 32px;
    /*min-width: 54px;*/
    height: 32px;
    /*background-color: rgb(241, 243, 244);*/
    background-color: rgba(0, 0, 0, 0.0);
    /*border-right: 1px solid black;*/
    /*border: 1px solid red;*/
    border-radius: 16px;
    color: black;
    transition: 0.25s;
}

/*.playpause:disabled {
    background-color: red;
}*/

.playpause:hover {
    background-color: rgba(10, 20, 30, 0.03);
}

.playpause:focus {
    outline:none;
}

.response {
    padding:0px 20px 0px 0px;
    width: calc(100% - 86px);
    height: 100%;

    /*border: 1px solid red;*/
    /*border-bottom: 1px solid rgb(89, 89, 89);*/
}

.response-canvas {
    height: 100%;
    width: 100%;
}


.underlay {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000000;
}

.underlay img {
    object-fit: cover;
    object-position: 0% 0%;
}

.overline {
    width: 50%;
    height:100%;
    top: 0;
    border-right: thin solid rgba(242, 0, 0, 0.7);
    overflow: hidden;
    position: absolute;
    z-index: 10;
}