html,
body {
  height: 100%;
  margin: 0;
}

body {
  color: #373737;
  font: 12px verdana, Helvetica, Arial, sans-serif;
  font-weight: 300;
  line-height: 1.625;
}



.box {
  display:            flex;
  flex-flow:          column;
  height:             100%;
  padding:            0% 10% 0% 10%;
}

.box .row {
  padding:            0% 10% 0% 10%;
}

.panel {
  border:             1px solid #dcdcdc;
  box-shadow:         0 3px 10px #bbbbbb;
  background-color:   #f1f1f1;
}

.box .row.spacer {
  flex: 0 2 20px;
}

.box .row.header {
  flex: 1 2 20px;
}

.box .row.content {
  flex: 0 1 auto;
}

.box .row.footer {
  flex: 1 2 20px;
}

img {
  width: 100%;
  height: 100%;
}

.sample-selection {
  width: 100%;
}

.sample-selection td {
  width: 25%;
}